<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/stylesheets/lund.css" />
</head>

<body>
    <form action="/lund" method="POST">
        <label for="prev">Original Name:</label>
        <input name="previous" type="text" value="<%= filename %>" id="prev" readonly>

        <label for="new">Enter New Name:</label>
        <input name="updated" type="text" id="new" required>

        <button type="submit">Update Name</button>
        <a href="/">Back</a>
    </form>



</html>